# Ignore specific directories
dataset/he_st/
pretrains/models/v1-5-pruned.ckpt
output/he_st/ldm/
output/he_st/mlm/
src/finetune/dc_ldm/ldm_for_rna.py
src/finetune/dc_ldm/models/

# Ignore Python cache files
**/__pycache__/
